.sce {
  height: 70vh;
  h1 {
    width: 70%;
    margin: auto;
  }
}
.gradient-background {
  background: linear-gradient(135deg, #64a3dfd1, #fffbb887);
  animation: gradientAnimation 2s ease infinite alternate;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.arrow{
  // position: absolute;
  // top: 18%;
  // left: 4%;
  // width: 50px;
  .scroll_top {
      display: none;
    }

  .scrolltop {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
    z-index: 30000;
  }

  .scrolltop img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    // height: 20px;
  }
}

.text-rep {
  width: fit-content;
  rotate: 270deg;
  position: absolute;
  top: 364px;
  font-size: 30px !important;
  color: white !important;
  font-family: 'DM Sans' !important;
}

.comingsoon {
    font-size: 60px !important;
    color: white !important;
    background-color: black;
    rotate: 325deg;
    position: absolute;
    top: 319px;
    left: -35px;
    width: 114%;
}
.porpo {
  text-decoration: none;
}

@media (max-width: 768px) {
  .comingsoon {
      rotate: 317deg;
      position: absolute;
      top: 319px;
      left: -108px;
      width: 156%;
  }
  .App .background-content h1 {
    font-size: 80px;
  }
  .text-rep {
    display: none;
  }
  .logo-proyect {
    width: 80px !important;
  }
  video {
    width: 397px;
  }
  .nike-title {
    font-size: 90px !important;
    left: -97px !important;
    top: -66px !important;
  }

  .logo-proyect2 {
    width: 80px !important;
    height: 80px !important;
    img {
      width: 50px;
      height: 50px;
    }
   }

  .beton-title {
    font-size: 90px !important;
    left: 108px !important;
    top: -49px !important;
  }
  .beton-sub {
    font-size: 14px !important;
    left: 109px !important;
    top: -113px !important;
    margin-bottom: 20px;
  }

  .zinma-title {
    font-size: 90px !important;
    left: -32px !important;
    top: -58px !important;
  }

  .p-nike, .p-beton {
    font-size: 17px !important;
    padding-right: 45px;
    padding-left: 45px;
    top: 0 !important;
  }
  .secto-text .paragh p {
    font-size: 33px;
  }

  .secto-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sec-conta .sec-all .sec-scroll h3 {
    font-size: 30px !important;
  }
  .sec-conta .sec-all .sec-scroll {
    width: 380px !important;
  }
  .pe {
    font-size: 16px !important;
    width: 366px;
  }
  .img-scroll {
    width: 485px !important;
    height: 300px !important;
  }
  .porpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

}

// .background-video {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   object-fit: cover;
//   z-index: -1;
//   pointer-events: none;
// }

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
  pointer-events: none;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(10, 10, 10, 0.316); // Cambiá el color si querés
  mix-blend-mode: multiply;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: opacity 0.5s ease;
}
